name: Publish Docker image to GHCR

on:
  push:
    branches: [ "main" ]
    tags: [ "v*.*.*" ]
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (multi-arch)
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute image tags
        id: meta
        run: |
          IMAGE="ghcr.io/${GITHUB_REPOSITORY_OWNER}/shipping-pricing-service"

          TAGS="${IMAGE}:sha-${GITHUB_SHA}"

          if [ "${GITHUB_REF_TYPE}" = "branch" ] && [ "${GITHUB_REF_NAME}" = "main" ]; then
            TAGS="${TAGS},${IMAGE}:latest"
          fi

          if [ "${GITHUB_REF_TYPE}" = "tag" ]; then
            VERSION="${GITHUB_REF_NAME#v}"   # v1.2.3 -> 1.2.3
            MAJOR="${VERSION%%.*}"          # 1
            MINOR="${VERSION%.*}"           # 1.2
            TAGS="${TAGS},${IMAGE}:${VERSION},${IMAGE}:${MAJOR},${IMAGE}:${MINOR}"
          fi

          echo "tags=${TAGS}" >> $GITHUB_OUTPUT

      - name: Build and push (multi-arch + cache)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max